name: yo-stack

services:
  app:
    build:
      context: ../
      dockerfile: Dockerfile
    ports:
      - "${APP_PORT:-3000}:3000"
    env_file:
      - ../.env
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE_NAME: yoodb
      DB_USER: yooadmin
      DB_PASSWORD: yoopass
      KAFKA_BROKER: kafka:29092
      REDIS_HOST: yoo-redis
      REDIS_PORT: 6379
    depends_on:
      - mysql
      - kafka
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      retries: 5
      timeout: 5s

  mysql:
    image: mysql:8.3
    container_name: yoo-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yoodb
      MYSQL_USER: yooadmin
      MYSQL_PASSWORD: yoopass
    ports:
      - "${HOST_MYSQL_PORT:-3306}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      timeout: 5s

  kafka:
    image: apache/kafka:4.0.0
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      # --- Core single-node KRaft setup ---
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # --- Topics and replication ---
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      # --- Convenience (auto-create topics) ---
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

      # --- Storage ---
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-c",
          "kafka-topics --bootstrap-server localhost:9092 --list",
        ]
      interval: 10s
      timeout: 10s
      retries: 10
    restart: unless-stopped

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    container_name: redpanda-console
    ports:
      - "${HOST_REDPANDA_CONSOLE_PORT:-8080}:8080"
    environment:
      - KAFKA_BROKERS=kafka:29092
    depends_on:
      - kafka

  redis:
    image: redis:7-alpine
    container_name: yoo-redis
    restart: always
    ports:
      - "${HOST_REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      retries: 5
      timeout: 5s

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "${HOST_REDISINSIGHT_PORT:-8001}:5540"
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - redisinsight_data:/data

  elastic:
    image: elasticsearch:8.18.4
    ports:
      - "${HOST_ELASTIC_TRANSPORT_PORT:-9300}:9300"
      - "${HOST_ELASTIC_HTTP_PORT:-9200}:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    deploy:
      resources:
        limits:
          memory: 512M # Use at most 512M MB of RAM

  kibana: # Kibana is a web interface or dashboard for Elasticsearch
    image: kibana:8.17.2
    ports:
      - "${HOST_KIBANA_PORT:-5601}:5601"
    environment:
      - ELASTICSEARCH_HOSTS=["http://elastic:9200"]

volumes:
  mysql_data:
  redis_data:
  kafka_data:
  redisinsight_data:
